.app {
  text-align: center;
  font-family: sans-serif;
}

.logo {
  animation: logoSpin infinite 20s linear;
  height: 8rem;
}

.header {
  background-color: #222;
  height: 15rem;
  padding: 2rem;
  color: white;
}

.title {
  font-size: 3rem;
}

.content {
  padding-top: 2rem;
  font-size: 1.6rem;
}

@keyframes logoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
