@import '../../scss/abstracts/_variables.scss';

.container {
  width: 100%;
  border-bottom: 1px solid $mediumGray;
  padding: 2rem 1.5rem;
  text-align: left;
  color: $charcoal;
}

.selected {
  color: white;
  background-color: $chefdOrange;
}

.heading {
  font-family: 'Verlag-Bold';
}
