@import '../../scss/abstracts/_variables.scss';

.marker {
  position: absolute;
  width: $markerWidth;
  height: $markerHeight;
  left: calc(-#{$markerWidth} / 2);
  top: calc(-#{$markerHeight});
  cursor: pointer;
  transition: all 0.2s ease;

  &Hovered {
    width: calc(#{$markerWidth} * #{$hoverMultiplier});
    height: calc(#{$markerHeight} * #{$hoverMultiplier});
    left: calc(-#{$markerWidth} * #{$hoverMultiplier} / 2);
    top: calc(-#{$markerHeight} * #{$hoverMultiplier});
  }
}
