@import '../../scss/abstracts/_variables.scss';

.container {
  position: absolute;
  width: 24px;
  height: 32px;
  left: -14px;
  top: -20px;
  color: $chefdOrange;
}

.marker {
  font-size: 3rem;
}
