/* 
====================
COLORS
====================
*/

/* Theme */
$chefdOrange: rgb(253, 103, 33);

/* Grays */
$charcoal: rgb(78, 78, 78);
$darkGray: rgb(166, 166, 166);
$mediumGray: rgb(218, 218, 218);
$lightGray: rgb(247, 247, 247);

/* Whites */
$white: rgb(255, 255, 255);

/* 
====================
LAYOUT
====================
*/

$maxWidth: 120rem;
