@font-face {
  font-family: 'Sentinel-Black';
  src: url('fonts/sentinel/Sentinel-Black.otf');
}

@font-face {
  font-family: 'Sentinel-BlackItalic';
  src: url('fonts/sentinel/Sentinel-BlackItalic.otf');
}

@font-face {
  font-family: 'Sentinel-Bold';
  src: url('fonts/sentinel/Sentinel-Bold.otf');
}

@font-face {
  font-family: 'Sentinel-BoldItalic';
  src: url('fonts/sentinel/Sentinel-BoldItalic.otf');
}

@font-face {
  font-family: 'Sentinel-Book';
  src: url('fonts/sentinel/Sentinel-Book.otf');
}

@font-face {
  font-family: 'Sentinel-BookItalic';
  src: url('fonts/sentinel/Sentinel-BookItalic.otf');
}

@font-face {
  font-family: 'Sentinel-Light';
  src: url('fonts/sentinel/Sentinel-Light.otf');
}

@font-face {
  font-family: 'Sentinel-LightItalic';
  src: url('fonts/sentinel/Sentinel-LightItalic.otf');
}

@font-face {
  font-family: 'Sentinel-Medium';
  src: url('fonts/sentinel/Sentinel-Medium.otf');
}

@font-face {
  font-family: 'Sentinel-MediumItalic';
  src: url('fonts/sentinel/Sentinel-MediumItalic.otf');
}

@font-face {
  font-family: 'Sentinel-Semibold';
  src: url('fonts/sentinel/Sentinel-Semibold.otf');
}

@font-face {
  font-family: 'Sentinel-SemiboldItalic';
  src: url('fonts/sentinel/Sentinel-SemiboldItalic.otf');
}

@font-face {
  font-family: 'Verlag-Black';
  src: url('fonts/verlag/Verlag-Black.otf');
}

@font-face {
  font-family: 'Verlag-BlackItalic';
  src: url('fonts/verlag/Verlag-BlackItalic.otf');
}

@font-face {
  font-family: 'Verlag-Bold';
  src: url('fonts/verlag/Verlag-Bold.otf');
}

@font-face {
  font-family: 'Verlag-BoldItalic';
  src: url('fonts/verlag/Verlag-BoldItalic.otf');
}

@font-face {
  font-family: 'Verlag-Book';
  src: url('fonts/verlag/Verlag-Book.otf');
}

@font-face {
  font-family: 'Verlag-BookItalic';
  src: url('fonts/verlag/Verlag-BookItalic.otf');
}

@font-face {
  font-family: 'Verlag-Light';
  src: url('fonts/verlag/Verlag-Light.otf');
}

@font-face {
  font-family: 'Verlag-LightItalic';
  src: url('fonts/verlag/Verlag-LightItalic.otf');
}

@font-face {
  font-family: 'Verlag-XLight';
  src: url('fonts/verlag/Verlag-XLight.otf');
}

@font-face {
  font-family: 'Verlag-XLightItalic';
  src: url('fonts/verlag/Verlag-XLightItalic.otf');
}
